body,
html {
  margin: 0px;
  font-size: 17px;
  height: 100%;
  font-weight: 400;
  line-height: 1.7em;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("img1.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("img2.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("img3.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: rgb(235, 231, 231);
  color: rgb(8, 8, 8);
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  color: rgb(243, 235, 235);
  font-size: 37px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: rgb(7, 6, 6);
  padding: 7px 14px;
}
